*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/capture
.externalNativeBuild
.cxx
local.properties
# Android Studio
*.iml
.gradle
build/
local.properties
.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/assetWizardSettings.xml
.idea/modules.xml
.idea/navEditor.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
*.keystore
!debug.keystore
# App level build
app/build/
